.search-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 0%;
}

.search-input {
    width: 100%;
    height: 40px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #d3d9de;
}

.search-form {
    width: 95%;
}

.search-icon {
    background-color: #dbe2e9;
    background-size: contain;
    height: 40px;
    width: 78px;
    cursor: grab;
    border: 1px;
    border-radius: 0 6px 6px 0;
}

button img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

@media(max-width:576px) {
    .search-input {
        height: 30px;
    }

    .search-icon {
        height: 30px;
    }

    button img {
        width: 25px;
        height: 25px;
    }
}