.artist-component {
  background-color: var(--white);
  box-shadow: var(--grey-shadow);
  border-radius: 6px;
  width: 100%;
  padding-top: 20px;
}
.artist-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 300px;

  background-size: contain;
  position: relative;
  z-index: 4;
}
.artist-image {
  width: 100%;
  height: 300px;

  background: linear-gradient(
    90deg,
    rgba(65, 104, 146, 0.5),
    30%,
    rgba(27, 83, 144, 0.8),
    80%,
    rgb(16, 64, 117)
  );
}

.artist-image {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-end;
}
.artist-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}
.artist-actions {
  width: 300px;
  height: 40px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.button {
  width: 50%;
  margin: 0px 6px;
  border-radius: 4px;
  border: none;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-in-button {
  font-size: 14px;
}
.grey-button {
  background-color: hsla(240, 1%, 76%, 0.5);
}

.button :nth-child(1) {
  padding: 0px 8px;
}

.artist-name {
  color: rgb(251, 247, 247);
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.popular-songs,
.popular-songs-in-one-column,
.popular-songs-in-two-column {
  display: grid;
  grid-template-rows: 70px 70px 70px 70px;
  gap: 6px;
  max-height: 750px;
  margin-left: 20px;
}
.popular-songs {
  grid-template-columns: 420px 420px 420px 420px;
  overflow-y: auto;
}
.popular-songs-in-one-column {
  grid-auto-flow: column;
}
.popular-songs-in-two-column {
  grid-template-columns: 1fr 1fr;
}
h1 {
  color: var(--black);
  font-size: 15px;
  padding-left: 20px;
  margin: 20px 0px;
}
@media (max-width: 768px) {
  .text-in-button {
    font-size: 12px;
  }
  .artist-actions {
    width: 240px;
    height: 40px;
  }
  .popular-songs {
    display: block;
  }
  .artist-name {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .text-in-button {
    display: none;
  }
  .button {
    width: 35px;
    height: 35px;
    border-radius: 35px; /*6px слишком много , поэтому уменьшила до 4*/
  }
  .button :nth-child(1) {
    padding: 0px 6px;
  }
  .artist-actions {
    width: auto;
  }
  .popular-songs {
    display: block;
  }
}
