.track-block {
  font-size: 15px;
  box-shadow: var(--grey-shadow);
  border-radius: var(--main-radius);
  background-color: var(--white);
  color: var(--grey);
}
.text {
  padding: 4px 0px 20px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  padding: 20px;
}
.songs-block {
  padding: 0px 14px 0px 14px;
}
@media (max-width: 768px) {
  .music-icon {
    background-size: cover;
    max-height: 45px;
    min-width: 45px;
  }

  .track-block {
    font-size: 12px;
    margin-top: 2%;
  }

  .trackList-item:hover {
    border-radius: var(--main-radius);
  }
}

@media (max-width: 576px) {
  .music-icon {
    background-size: cover;
    height: 40px;
    width: 40px;
  }

  .track-block {
    font-size: 10px;
  }
}
