.track-block {
  padding: 4px 16px;
  font-size: 15px;
  box-shadow: var(--grey-shadow);
  border-radius: var(--main-radius);
  background-color: var(--white);
  color: var(--grey);
}

.track-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0px;
  padding: 4px;
}

.track-list-item:hover {
  border: none;
  background-color: var(--light-pink);
  border-radius: var(--main-radius);
}

.track-list-item:hover .music-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-part-of-item {
  display: flex;
  width: 100%;
  align-items: center;
}

.track-album-block a:nth-child(1) {
  font-weight: bold;
  color: var(--black);
}

.music-icon {
  border-radius: var(--main-radius);
  margin-right: 1%;
  height: 50px;
  width: 50px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-button {
  width: var(--icon-width);
  height: var(--icon-height);
  border-radius: 30px;
  border: none;
  display: none;
}

svg {
  size: 18px;
}

.link {
  text-decoration: none;
  color: dimgrey;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .music-icon {
    background-size: cover;
    height: 45px;
    width: 45px;
  }

  .track-block {
    font-size: 12px;
    margin-top: 2%;
  }

  .trackList-item:hover {
    border-radius: var(--main-radius);
  }
}

@media (max-width: 576px) {
  .music-icon {
    background-size: cover;
    height: 40px;
    width: 40px;
  }

  .track-block {
    font-size: 10px;
  }
}
