:root {
  --grey-shadow: 0px 0px 10px rgb(224, 222, 222);
  --main-radius: 6px;
  --icon-width: 30px;
  --icon-height: 30px;
  --grey: #787878;
  --grey-for-button: #c1c1c2;
  --white: #ffffff;
  --medium-grey: #f0f2f7;
  --black: #000000;
  --light-grey: #e1dfdf;
  --margin-top-bottom: 20px 0px;
  --border-radius-all-corners: 6px;
}
body {
  margin: 0;
  background-color: var(--medium-grey);

  color: var(--grey);
}
.container {
  margin: 2% 10% 2% 10%;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
svg:hover {
  font-size: 13px;
  cursor: pointer;
}
#navigation-block {
  background-color: var(--white);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.music-app-text {
  font-size: 25px;
  color: #477ab2;
}
.navigation-block-button:hover {
  text-decoration: underline;
}
.navigation-block-button {
  background-size: contain;
  height: 20px;
  width: 200px;
  cursor: pointer;
  border: 0px;
  font-size: 14px;
  color: #6390c0;
  text-decoration: none;
  text-align: start;
  padding-left: 40px;
}
