.track-action {
  display: flex;
  margin: 16px 0px 8px 0px;
}

.click-button {
  border: none;
  background-color: var(--white);
  margin: 0;
  cursor: pointer;
}
.click-button:first-child {
  color: var(--grey);
}
.add,
.share {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add:hover,
.share:hover,
.click-button:hover {
  color: #000000;
}

.share {
  margin-left: 16px;
}

@media (max-width: 576px) {
  .action-button-text {
    display: none;
  }
  .click-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .click-button :first-child {
    font-size: 12px;
  }
  .track-action {
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
