.track-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0px;
  padding: 6px 6px 6px 0px;
}

.track-list-item:hover {
  /* border: none; */
  background-color: var(--medium-grey);
  border-radius: 6px;
}

.track-list-item:hover .music-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-part-of-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 6px;
}

.track-album-block a:nth-child(1) {
  font-weight: bold;
  color: var(--black);
}

.music-icon {
  border-radius: var(--main-radius);
  margin-right: 10px;
  height: 50px;
  min-width: 50px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-button {
  width: var(--icon-width);
  height: var(--icon-height);
  border-radius: 30px;
  border: none;
  display: none;
}

svg {
  size: 24px;
}

.link {
  text-decoration: none;
  color: dimgrey;
}

.link:hover {
  text-decoration: underline;
}
